/* @import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700;900&display=swap"); */
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --c-purp-dark: #353269;
  --c-purp-darker: #19182e;
  --c-green-darker: #082112;
  --c-light: rgb(221, 236, 227);
  --c-border: #4a534e;
  --color-scrollbar: var(--c-purp-dark);
  --color-scrollbar-hover: var(--c-border);
}

@font-face {
  font-family: "Progesterone";
  font-weight: 400;
  src: url("../fonts/Progesterone.woff") format("woff");
}

html {
  color: var(--c-light);
  background: var(--c-purp-dark);
}

body {
  margin: 0;
}

.page-enter-active,
.page-leave-active {
  transition: all 400ms;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}

* {
  scrollbar-color: var(--color-scrollbar) var(--color-background);
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar:horizontal {
  height: 6px;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: var(--c-green);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--color-scrollbar);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-scrollbar-hover);
}

body {
  margin: 0;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: monospace;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

hr {
  border: 0;
  border-top: 2px solid var(--color-border);
  margin: 1em 1em;
}
